/*  universal-styles */
html,
body {
    font-size: 24px;
    font-family: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 6.67rem;
}

h2 {
    font-size: 3.2rem;
    margin-top: 0;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.15rem;
}

a:hover {
    text-decoration: none;
}

.main-section {
    padding: 7.5vw;
    overflow: hidden;
}

.primary-button {
    box-sizing: border-box;
    display: block;
    width: 30%;
    border: solid 5px;
    border-radius: 20px;
    font-size: 1.33rem;
    font-family: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 3%;
    position: relative;
    top: 0;
    transition: all 200ms;
}

.primary-button:hover {
    top: 0.1rem;
    cursor: pointer;
    box-shadow: 0.3rem 0.3rem 0.25rem #000;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.arrow.down {
    position: relative;
    font-weight: 900;
    font-size: 6.67rem;
    animation: upAndDown 1s linear 0s infinite alternate;
}

@keyframes upAndDown {
    0% {
        top: 0;
    }
    100% {
        top: 5vh;
    }
}

/*  header */

header {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 1;
    /* background-color: #FFF; */
    /* background-color: #ffdd18; */
    background-color: #005cef;
/*     background-color: #FF1F25; */
/*     color: #000; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.3% 2.5%;
}

header img {
    height: 8vh;
    transition: opacity 750ms;
    vertical-align: middle;
}

#github-logo:hover {
    opacity: 0.5;
}

header ul {
    list-style: none;
    padding-left: 0;
}

header ul li {
    display: inline;
    margin: 0 5px;
}

header a {
/*     color: #000; */
/*     color: #FF1F25; */
/*     color: #005cef; */
/*     color: #ffdd18; */
    color: #FFF;
    text-decoration: none;
/*     transition: color 400ms; */
    transition: opacity 750ms;
}

header a:hover {
/*     color: #FF1F25; */
/*     color: #ffdd18; */
    opacity: 0.3;
}

/*  banner */
#banner {
/*     background-color: #FFF; */
/*     background-color: #ffdd18; */
    background-color: #FF1F25;
}

#banner p {
    font-size: 3.2rem;
    /* color: #000; */
/*     color: #005cef; */
    color: #FFF;
}

#banner p:first-child {
    /* color: #FF1F25; */
    color: #ffdd18;
}

#banner .arrow.down {
/*     color: #FF1F25; */
    color: #ffdd18;
}

#banner a {
    text-decoration: none;
}

span.name {
/*     color: #FF1F25; */
    color: #ffdd18;
/*     font-weight: 900; */
    font-style: italic;
    animation: dance 1s infinite ease-in-out alternate;
    position: relative;
}

@keyframes dance {
    0% {
        font-weight: 400;
    }
    100% {
        font-weight: 900;
    }
}

/*  about-me */

#about-me {
    /* background-color: #05A3FF; */
    /* background-color: #ffdd18; */
    background-color: #005cef;
}

#about-me h2 {
    /* color: #FFF; */
/*     color: #ffdd18; */
    color: #003286;
    text-decoration: underline wavy #FF1F25;
    text-underline-offset: 1rem;
/*     text-decoration: underline wavy #FFF; */
}

#about-me article {
    line-height: 2rem;
    white-space:pre-line;
    /* color: #000; */
    color: #FFF;
/*     color: #ffdd18; */
    /* color: #003286; */
}

.about-me-grid-container {
    display: grid;
    grid-template-columns: 1fr 20rem;
    grid-column-gap: 2rem;
    align-items: center;
    margin-bottom: 1rem;
    /* background-color: #FFF; */
/*     background-color: #05A3FF; */
   /*  color: #FFF; */
/*     padding: 2rem; */
/*     border-radius: 1.25rem; */
}

#about-me img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 1.25rem;
}

#about-me a.primary-button {
/*     width: 12.03641rem; */
    /* background-color: #05A3FF; */
    background-color: #FF1F25;
/*     background-color: #ffdd18; */
/*     border-color:  #FFF; */
    border-color: #FF1F25;
/*     border-color: #ffdd18; */
    /* color: #FFF; */
    color: #ffdd18;
    text-decoration: none;
    text-align: center;
}

#about-me a.primary-button:hover {
    box-shadow: 0.2rem 0.2rem #ffdd18;
}

#about-me a {
    /* color: #05A3FF; */
    /* color: #FF1F25; */
/*     color: rgb(34, 39, 109); */
    /* color: #ffdd18; */
    color: #003286;
/*     text-decoration: none; */
    /* transition: opacity 750ms; */
    transition: color 750ms;
}

/* #about-me a:hover:not(a.primary-button) { */
/*     opacity: 0.3; */
    /* color: #FFF; */
/*     text-decoration: underline;
} */

#more-about-me {
    margin: 1rem 0;
/*     background-color: #FFF; */
/*     padding: 2rem; */
/*     border-radius: 1.25rem; */
/*     color: #FFF; */
    color: #ffdd18;
    display: none;
    scroll-margin-top: 5rem;
}

#more-about-me ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#more-about-me li {
    padding-bottom: 1rem;
}

/* projects */

#projects {
/*     background-color: #FF1F25; */
/*     background-color: #ffdd18; */
/*     background-color: #FFF; */
    background-color: #ffdd18;
/*     color: #FFF; */
    color: #005cef;
}

/* #projects h2, #projects h3, #projects h4 {
    color: #05A3FF;
} */

#projects h2 {
/*     margin-bottom: 6.67rem; */
/*     color: #FF1F25; */
/*     color: #003286; */
    color: #005cef;
/*     text-decoration: underline wavy #005cef; */
    text-decoration: underline wavy #FF1F25;
    text-underline-offset: 1rem;
    margin-bottom: 3rem;
}

.project-container h3 {
    margin: 1rem 0;
    font-style: italic;
}

.project-container h4 {
    margin-top: 0;
}

.project-container h3, .project-container h4 {
/*     color: #ffdd18; */
/*     color: #003286; */
    color: #005cef;
}

.project-container h4 {
    color: #FF1F25;
}

#projects p {
    line-height: 2rem;
}

.project-container {
    max-width: 100%;
    display: grid;
    grid-template-areas: 'title title'
                         'description video'
                         'tech-stack features';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 3fr 2fr;
    grid-gap: 2rem 2rem;
/*     background-color: rgba(0, 0, 0, 0.5); */
/*     background-color:#005cef; */
    background-color: #ffdd18;
/*     background-color: #FF1F25; */
    /* border: 5px solid #005cef; */
    border: 5px dashed #FF1F25;
/*     color: #FFF;  */
/*     color: #ffdd18; */
/*     margin-bottom: 6.67rem; */
    margin-bottom: 1rem;
    justify-items: start;
    align-items: start;
    padding: 0 2rem;
/*     border-radius: 1.25rem; */
/*     border-radius: 5px; */
    scroll-margin-top: 3.66275rem;
}

/* only show book-rating-app as default */
.project-container:not(#book-rating-project) {
    display: none;
}

.project-title {
    grid-area: 1 / 1 / span 1 / span 2;
}

.project-description {
    grid-area: 2 / 1 / span 1 / span 1;
}

.project-video-container {
    grid-area: 2 / 2 / span 1 / span 1;
    width: 100%;
    height: 100%;
}

.project-tech-stack {
    grid-area: 3 / 1 / span 1 / span 1;
}

.project-features {
    grid-area: 3 / 2 / span 1 /span 1;
}

.project-video-container iframe {
    width: 100%;
    height: 80%;
/*     border-radius: 0 1rem; */
}

.project-video-container.empty {
    overflow: hidden;
/*     background-color: #FFF; */
    background-color: #ffdd18;
/*     border-radius: 0 1rem; */
}

#totoro {
    height: 200px;
    width: 200px; /* change width to 400px to have two totoros walking side by side */
    margin: 10% auto;
    background-image: url("../images/todoro-miyazaki.gif");
    transform: scaleX(-1);
}

/* .project-video-container.empty hr {
    border: 5px solid #005cef;
    position: relative;
    top: -1rem;
} */

#projects a {
/*     color: #05A3FF; */
/*     color: #ffdd18; */
/*     color: #921805; */
/*     color: #6a0f01; */
/*     color: #005cef; */
    color: #003286;
    text-decoration: none;
/*     transition: opacity 750ms; */
}

#projects a:hover {
/*     opacity: 0.3; */
    text-decoration: underline;
}

#projects li {
    padding-bottom: 1rem;
}

#projects .primary-button {
/*     background-color: #05A3FF;
    border-color:  #05A3FF; */
/*     background-color: #FF1F25;
    border-color: #FF1F25; */
    background-color: #005cef;
    border-color: #005cef;
    /* color: #FFF; */
    color: #ffdd18;
}

/* set variable as workaround to update hover pseudo class via javaSript */
#previous-button:hover, #next-button:hover {
    top: var(--top);
    cursor: var(--cursor);
    box-shadow: var(--box-shadow);
}

/*  contact */
#contact {
    background-color: #FF1F25;
    color: #FFF;
}

#contact h2 {
/*     color: #FFF; */
    color: #ffdd18;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact form {
    display: inline-flex;
    flex-direction: column;
/*     width: 45%; */
/*     margin: 0 auto; */
/*     display: grid;
    grid-template-areas: 'fname msg'
                         'lname msg'
                         'email msg'
                         'submit submit';
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem 1rem; */
}

#contact .i-love-to-code {
    display: inline-flex;
    flex-direction: column;
    padding: 0 15%;
/*     width: 45%; */
/*     margin-left: 5%;
    position: relative;
    top: 1rem; */
}

.i-love-to-code p {
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    animation: blink 1s ease-out infinite alternate;
}

@keyframes blink {
    0% {
        color: #FF1F25;
    }
    100% {
       color: #ffdd18;
    }
}

/* #contact .fname {
    grid-area: 1 / 1 / span 1 / span 1;
}

#contact .lname {
    grid-area: 2 / 1 / span 1 / span 1;
}

#contact .email {
    grid-area: 3 / 1 / span 1 / span 1;
}

#contact .message {
    grid-area: 1 / 2 / span 3 / span 1;
}

#contact-form-submit {
    grid-area: 4 / 1 / span 1 / span 2;
} */

#contact input {
    margin: 1rem 0;
}

#contact textarea {
    margin-top: 1rem;
}

#contact input:not(input.primary-button), #contact textarea {
    padding: 1rem;
    border: none;
    border-radius: 2px;
/*     background-color: #FFF; */
    background-color: #ffdd18;
    color: #005cef;
}

#contact label {
    color: #ffdd18;
}

/* change placeholder color for all browsers */
/* Chrome, Firefox, Opera, Safari 10.1+ */
#contact input:not(input.primary-button)::placeholder, #contact textarea::placeholder { 
    color: #FF1F25;
}

/* Internet Explorer 10-11 */
#contact input:not(input.primary-button):-ms-input-placeholder, #contact textarea:-ms-input-placeholder { 
    color: #FF1F25;
}

/* Microsoft Edge */
#contact input:not(input.primary-button)::-ms-input-placeholder, #contact textarea::-ms-input-placeholder {
    color: #FF1F25;
}

#contact input:not(input.primary-button):focus-visible, #contact textarea:focus-visible {
/*     outline: 3px solid #FF1F25; */
    outline: 3px solid #005cef;
    outline-offset: -0.25rem;
}

#contact input.primary-button {
/*     border: 5px solid #FFF;
    border-radius: 20px; */
/*     background-color: #FF1F25;
    border-color: #FFF; */
    background-color: #ffdd18;
    border-color: #ffdd18;
/*     background-color: #005cef;
    border-color: #005cef; */
/*     color: #FFF; */
    color: #FF1F25;
    width: 60%;
}

#contact input.primary-button:hover {
    box-shadow: 0.2rem 0.2rem #005cef;
}

/* #contact input.primary-button:disabled, input.primary-button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    box-shadow: none;
    top: 0;
} */

/* #thank-you-msg {
    display: none;
} */

/* footer */
footer {
    background-color: #005cef;
    color: #FFF;
    padding: 1rem;
}

/* .copyright {
    margin: 0 0 0 1rem;
} */