/*  universal-styles */
html,
body {
    font-size: 24px;
    font-family: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 6.67rem;
}

h2 {
    font-size: 3.2rem;
    margin-top: 0;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.15rem;
}

a:hover {
    text-decoration: none;
}

.main-section {
    padding: 7.5vw;
    overflow: hidden;
}

.primary-button {
    box-sizing: border-box;
    display: block;
    width: 30%;
    border: solid 5px;
    border-radius: 20px;
    font-size: 1.33rem;
    font-family: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 3%;
    position: relative;
    top: 0;
    transition: all 200ms;
}

.primary-button:hover {
    top: 0.1rem;
    cursor: pointer;
    box-shadow: 0.3rem 0.3rem 0.25rem #000;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.arrow.down {
    position: relative;
    font-weight: 900;
    font-size: 6.67rem;
    animation: upAndDown 1s linear 0s infinite alternate;
}

@keyframes upAndDown {
    0% {
        top: 0;
    }
    100% {
        top: 1vh;
    }
}

/*  header */

header {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #FFF;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.3% 2.5%;
}

header img {
    height: 8vh;
    transition: opacity 750ms;
    vertical-align: middle;
}

#github-logo:hover {
    opacity: 0.5;
}

header ul {
    list-style: none;
    padding-left: 0;
}

header ul li {
    display: inline;
    margin: 0 5px;
}

header a {
    color: #000;
    text-decoration: none;
    transition: color 400ms;
}

header a:hover {
    color: #FF1F25;
}

/*  banner */
#banner {
    background-color: #FFF;
}

#banner p {
    font-size: 3.2rem;
    color: #000;
}

#banner .arrow.down {
    color: #FF1F25;
}

#banner a {
    text-decoration: none;
}

span.name {
    color: #FF1F25;
/*     font-weight: 900; */
    font-style: italic;
    animation: dance 1s infinite ease-in-out alternate;
    position: relative;
}

@keyframes dance {
    0% {
        font-weight: 400;
    }
    100% {
        font-weight: 900;
    }
}

/*  about-me */

#about-me {
    background-color: #05A3FF;
}

#about-me h2 {
    color: #FFF;
}

#about-me article {
    line-height: 2rem;
    white-space:pre-line;
    color: #000;
}

.about-me-grid-container {
    display: grid;
    grid-template-columns: 1fr 20rem;
    grid-column-gap: 2rem;
    align-items: center;
    margin-bottom: 6.67rem;
    background-color: #FFF;
    padding: 2rem;
    border-radius: 1.25rem;
}

#about-me img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 1.25rem;
}

#about-me a.primary-button {
/*     width: 12.03641rem; */
    background-color: #05A3FF;
    border-color:  #FFF;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

#about-me a {
    color: #05A3FF;
}

#more-about-me {
    margin: 6.67rem 0;
    background-color: #FFF;
    padding: 2rem;
    border-radius: 1.25rem;
    display: none;
    scroll-margin-top: 10rem;
}

#more-about-me ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#more-about-me li {
    padding-bottom: 1rem;
}

/* projects */

#projects h2, #projects h3, #projects h4 {
    color: #05A3FF;
}

#projects h2 {
    margin-bottom: 6.67rem;
}

.project-container h4 {
    margin-top: 0;
}

#projects p {
    line-height: 2rem;
}

.project-container {
    max-width: 100%;
    display: grid;
    grid-template-areas: 'title title'
                         'description video'
                         'tech-stack features';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5.5rem 3fr 2fr;
    grid-gap: 3rem 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: #FFF; 
    margin-bottom: 6.67rem;
    justify-items: start;
    align-items: start;
    padding: 0 2rem;
    border-radius: 1.25rem;
    scroll-margin-top: 3.66275rem;
}

/* only show book-rating-app as default */
.project-container:not(#book-rating-project) {
    display: none;
}

.project-title {
    grid-area: 1 / 1 / span 1 / span 2;
}

.project-description {
    grid-area: 2 / 1 / span 1 / span 1;
}

.project-video-container {
    grid-area: 2 / 2 / span 1 / span 1;
    width: 100%;
    height: 100%;
}

.project-tech-stack {
    grid-area: 3 / 1 / span 1 / span 1;
}

.project-features {
    grid-area: 3 / 2 / span 1 /span 1;
}

.project-video-container iframe {
    width: 100%;
    height: 80%;
    border-radius: 0 1rem;
}

.project-video-container.empty {
    overflow: hidden;
    background-color: #FFF;
    border-radius: 0 1rem;
}

#totoro {
    height: 200px;
    width: 200px; /* change width to 400px to have two totoros walking side by side */
    margin: 10% auto;
    background-image: url("../images/todoro-miyazaki.gif");
    transform: scaleX(-1);
}

#projects a {
    color: #05A3FF;
}

#projects li {
    padding-bottom: 1rem;
}

#projects .primary-button {
    background-color: #05A3FF;
    border-color:  #05A3FF;
    color: #FFF;
}

/* set variable as workaround to update hover pseudo class via javaSript */
#previous-button:hover, #next-button:hover {
    top: var(--top);
    cursor: var(--cursor);
    box-shadow: var(--box-shadow);
}

/*  contact */
#contact {
    background-color: #FF1F25;
    color: #FFF;
}

#contact h2 {
    color: #FFF;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact input {
    margin: 1rem 0;
}

#contact textarea {
    margin-top: 1rem;
}

#contact input:not(input.primary-button), #contact textarea {
    padding: 1rem;
    border: none;
    border-radius: 2px;
    background-color: #FFF;
}

#contact input:not(input.primary-button):focus-visible, #contact textarea:focus-visible {
    outline: 3px solid #FF1F25;
    outline-offset: -0.25rem;
}

#contact input.primary-button {
/*     border: 5px solid #FFF;
    border-radius: 20px; */
    background-color: #FF1F25;
    border-color: #FFF;
    color: #FFF;
}
/* footer */
.copyright {
    margin-left: 1rem;
}