/*  universal-styles */

html,
body {
    font-size: 24px;
    font-family: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    scroll-behavior: smooth;
    
    /* set scroll-padding-top to scroll evrything to the bottom of the header */
    scroll-padding-top: var(--scroll-padding-top);
}

h2 {
    font-size: 5rem;
    margin: 0 0 3rem 0;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1rem;
}

.main-section {
    padding: 7.5vw;
    overflow: hidden;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.primary-button {
    box-sizing: border-box;
    display: block;
/*     width: 30%; */
    border: solid 5px;
    border-radius: 20px;
    font-size: 1.25rem;
    font-family: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 3%;
    position: relative;
    top: 0;
    transition: all 200ms;
}

.primary-button:hover {
    top: 0.1rem;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 1.25rem 1.25rem;
    margin: 0;
    padding-left: 0;
}

.carousel-button {
    font-family: 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
    border: none;
    font-size: 5rem;
    padding: 0;
    width: 20%;
    transition: box-shadow 200ms;
}

.previous-button {
    border-radius: 0 0 0 1.25rem;
}

.next-button {
    border-radius: 0 0 1.25rem 0;
}

.previous-button:hover, .next-button:hover {
    cursor: var(--cursor);
    box-shadow: var(--box-shadow);
}

.carousel-indicator {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.arrow.down {
    position: relative;
    font-weight: 900;
    font-size: 10rem;
    animation: upAndDown 1s linear 0s infinite alternate;
}

@keyframes upAndDown {
    0% {
        top: 0;
    }
    100% {
        top: 1rem;
    }
}

/*  header and footer */

header, footer {
    box-sizing: border-box;
    background-color: #005cef;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3% 2.5%;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    flex-wrap: wrap;
}

.github-logo {
    height: 2.5rem;
    transition: opacity 200ms;
    vertical-align: middle;
}

.github-logo:hover {
    opacity: 0.5;
}

header ul {
    list-style: none;
    padding-left: 0;
}

header ul li {
    display: inline;
    margin: 0 5px;
}

header a:not(.github-logo-link) {
    color: #FFF;
    text-decoration: none;
}

header a:hover {
    text-shadow: -0.05rem 0.05rem #FF1F25;
}

/*  banner */
#banner {
    background-color: #FF1F25;
}

#banner p:not(#banner p:first-child) {
    font-size: 5rem;
    color: #FFF;
}

#banner p:first-child {
    font-size: 10rem;
    color: #ffdd18;
    text-shadow: -0.5rem 0.5rem #005cef;
    margin: 5.5rem 0;
}

#banner .arrow.down {
 color: #FFF;
}

/* needed to remove underline from arrow.down */
#banner a {
    text-decoration: none;
}

span.yellow {
    color: #ffdd18;
    text-shadow: -0.25rem 0.25rem #005cef;
}

span.dancing {
    animation: dance 1s infinite ease-in-out alternate;
}

@keyframes dance {
    0% {
        font-weight: 400;
    }
    100% {
        font-weight: 900;
    }
}

/*  about-me */

#about-me {
    background-color: #005cef;
}

#about-me h2 {
    color: #FFF;
    text-shadow: -0.25rem 0.25rem #FF1F25;
}


#about-me-section {
    width: 45%;
    background-color: #FFF;
    color: #005cef;
    border-radius: 1.25rem;
}

.about-me-section {
    padding: 2rem 2rem 1rem 2rem;
}

/* show only about-me-desc as default */
.about-me-section:not(#about-me-desc) {
    display: none;
}

#about-me .carousel-button {
    background-color: #FFF;
    color: #005cef;
}

.about-me-indicator:not(.about-me-indicator:first-of-type) {
    background-color: #005cef;
}

.about-me-indicator:first-of-type {
    background-color: #FF1F25;
}

#about-me article {
    line-height: 2.5rem;
}

#about-me-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#about-me-list li {
    padding-bottom: 2rem;
}

#about-me-pic {
    overflow: hidden;
}

#about-me-pic img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 0.1rem;
}

#about-me-style-section {
    width: 45%;
    border-radius: 1.25rem;
    background-color: var(--about-me-style-section-background-color);
    height: var(--about-me-style-section-height, 0);
    max-height: var(--about-me-style-section-max-height);
    min-height: var(--about-me-style-section-min-height);
}


/* projects */

#projects {
    background-color: #FFF;
    color: #005cef;
}

#projects h2 {
    color: #FF1F25;
    text-shadow: -0.25rem 0.25rem #005cef;
}

.project-container h3 {
    color: #FFF;
    margin: 1rem 0;
}

.project-container h4 {
    margin-top: 0;
    text-decoration: underline #005cef;
    text-underline-offset: 1rem;
}

#projects p {
    line-height: 2rem;
}

.project-container {
    display: grid;
    grid-template-areas: 'title title'
                         'description video'
                         'tech-stack features';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4rem 1fr 1fr;
    grid-gap: 2rem 2rem;
    background-color:#005cef;
    justify-items: stretch;
    align-items: stretch;
    padding: 1rem 2rem;
    border-radius: 1.25rem 1.25rem 0 0;
}

.project-container > section, .project-container iframe {
    border-radius: 1.25rem;
}

.project-container > section {
    background-color: #FFF;
    padding: 1rem;
}

/* show only book-rating-app as default */
.project-container:not(#book-rating-project) {
    display: none;
}

.project-title {
    grid-area: 1 / 1 / span 1 / span 2;
}

.project-description {
    grid-area: 2 / 1 / span 1 / span 1;
}

.project-video-container {
    grid-area: 2 / 2 / span 1 / span 1;
}

.project-tech-stack {
    grid-area: 3 / 1 / span 1 / span 1;
}

.project-features {
    grid-area: 3 / 2 / span 1 /span 1;
}

.project-video-container iframe {
    width: 100%;
    height: 100%;
}

.project-video-container.empty {
    overflow: hidden;
    background-color: #FFF;
    border-radius: 1.25rem;
}

#totoro {
    height: 8.33rem;
    width: 8.33rem; /* change width to 400px to have two totoros walking side by side */
    margin: 10% auto;
    background-image: url("../images/todoro-miyazaki.gif");
    transform: scaleX(-1);
}

#projects a, #about-me a {
    color: #FF1F25;
    text-decoration: none;
}

#projects a:hover, #about-me a:hover {
    text-decoration: underline;
}

#projects li {
    padding-bottom: 1rem;
}

#projects .button-container {
    background-color: #005cef;
}

#projects .carousel-button {
    background-color: #005cef;
    color: #FFF;
}

.project-indicator:not(.project-indicator:first-of-type) {
    background-color: #FFF;
}

.project-indicator:first-of-type {
    background-color: #FF1F25;
}


/*  contact */
#contact {
    background-color: #FF1F25;
    color: #FFF;
}

#contact h2, .thank-you-message {
    background-color: #005cef;
    font-size: 2.5rem;
    padding: 1rem;
    margin-bottom: 5rem;
    text-align: center;
}

#contact h2 span, .text-shadow-highlighted-text  {
    text-shadow: -0.125rem 0.125rem #FF1F25;
}

#contact form, #contact .i-love-to-code {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contact .i-love-to-code {
    padding: 0 15%;
}

.i-love-to-code p {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 900;
    animation: blink 1s ease-out infinite alternate;
}

@keyframes blink {
    0% {
        color: #FF1F25;
    }
    100% {
       color: #FFF;
    }
}

#contact input:not(input.primary-button), #contact textarea {
    padding: 1rem;
    border: none;
    border-radius: 2px;
    background-color: #FFF;
    margin: 1rem 0;
}

/* needed to overwrite chromes style when autofill forms */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus, 
textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-text-fill-color: var(--webkit-text-fill-color);
}

/* change placeholder color for all browsers */
/* Chrome, Firefox, Opera, Safari 10.1+ */
#contact input:not(input.primary-button)::placeholder, #contact textarea::placeholder { 
    color: #005cef;
}

/* Internet Explorer 10-11 */
#contact input:not(input.primary-button):-ms-input-placeholder, #contact textarea:-ms-input-placeholder { 
    color: #005cef;
}

/* Microsoft Edge */
#contact input:not(input.primary-button)::-ms-input-placeholder, #contact textarea::-ms-input-placeholder {
    color: #005cef;
}

/* change color of input outline depending on valid and invalid state of user input */

input:focus-visible, textarea:focus-visible {
    outline: 3px solid var(--input-outline-color);
    outline-offset: -0.25rem;
}

input:valid, textarea:valid {
    color: #005cef;
    --input-outline-color: #005cef;
}

input:invalid, textarea:invalid {
    color: #FF1F25;
    --input-outline-color: #FF1F25;
}

p.form-input-error {
    display: none;
    background-color: #FFF;
    color: #FF1F25;
    padding: 0.3rem;
    text-align: center;
    margin: 0 0 1rem 0;
}

p.form-input-error::before {
    content: '⚠️ ';
}

p.form-input-error::after {
    content: ' ⚠️';
}

/* display error message for invalid inputs when not placeholder text is shown
error message paragraph is adjacent sibling of corresponding input 
--> Adjacent sibling combinator "+"
See: https://developer.mozilla.org/en-US/docs/Web/CSS/Adjacent_sibling_combinator */

input:invalid:not(:focus-visible):not(:placeholder-shown) + p.form-input-error, textarea:invalid:not(:focus-visible):not(:placeholder-shown) + p.form-input-error {
    display: block;
}

input:invalid:not(:focus-visible):not(:placeholder-shown), textarea:invalid:not(:focus-visible):not(:placeholder-shown) {
    animation: shake 0.2s;
}

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    } 
    20%, 40%, 60%, 80% {
      transform: translateX(-2%);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(2%);
    }
}
  
input.primary-button {
    background-color: #FFF;
    opacity: 0.5;
    border-color: #FFF;
    color: #FF1F25;
    width: 60%;
}

/*  remove hover functionality from input button as long as at least one form input is invalid */

input.primary-button:hover {
    top: 0;
}

form:valid input.primary-button {
    opacity: 1;
}

form:valid input.primary-button:hover {
    top: 0.1rem;
    box-shadow: -0.188rem 0.188rem #005cef;
}

.thank-you-message {
    display: none;
    margin-bottom: 0;
}